<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoftwareTeamwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SoftwareTeamwork.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SoftwareTeamwork.Properties.Settings>
            <setting name="IsExitDialogShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExitAction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConfigPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IPGWA" serializeAs="String">
                <value />
            </setting>
            <setting name="IPGWP" serializeAs="String">
                <value />
            </setting>
            <setting name="JWA" serializeAs="String">
                <value />
            </setting>
            <setting name="JWP" serializeAs="String">
                <value />
            </setting>
            <setting name="IPGWF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JWF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FluxPackage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WeekNow" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WeekNowSet" serializeAs="String">
                <value>05/17/2018 21:06:00</value>
            </setting>
            <setting name="CourseTableVisibility" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreaIconColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="AreaIconFontSize" serializeAs="String">
                <value>13.3</value>
            </setting>
            <setting name="LastFluxInfo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CourseTableFontSize" serializeAs="String">
                <value>12</value>
            </setting>
        </SoftwareTeamwork.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SoftwareTeamwork.Properties.Settings>
      <setting name="DllPath" serializeAs="String">
        <value>Libs</value>
      </setting>
    </SoftwareTeamwork.Properties.Settings>
  </applicationSettings>
</configuration>